.products-article {
  section {
    display: none;
    text-align: justify;
    font-size: 0px;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }

    &.active {
      display: block;
    }

    h2 {
      text-align: center;
    }
  }
}

.product-features-container {
  li {
    margin-bottom: $half-block;
  }
}

.product-hero-container, .product-features-container,
.icon-container, .text-container {
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
}

.product-hero-container, .product-features-container {
  width: 50%;
}

.icon-container {
  width: 20%;
}

.text-container {
  width: 70%;
  vertical-align: top;

  h4 {
    margin: 0 0 $quarter-block;
  }

  p {
    margin: 0;
  }
}
